

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Viewing all Tarantulas</title>
</head>
<body>
<form>
<table>
<tr th:each="currentTarantula : ${tarantulas}" >
<td><input type="radio" name="tarantulaid" value="${currentspider.id}"></td>
<!--td th:text="${currentTarantula.tId}" /-->
<td th:text="${currentTarantula.name}" />
<td th:text="${currentTarantula.species}" />
<td th:text="${currentTarantula.sizeClassification}" />
<td><a th:href="@{/edit/{id}(id=${currentTarantula.tId})}">Edit</a></td>
<td><a th:href="@{/delete/{id}(id=${currentTarantula.tId})}">Delete</a></td>
<td><a th:href="@{/listMoltsByTId/{id}(id=${currentTarantula.tId})}">View Molts</a></td>
</tr>
</table>
</form>

<a href="../inputTarantula">Add a new tarantula</a>
<!--a th:href="@{/delete/{id}(id=tarantulaid})}">Delete</a-->

<form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
</body>
</html>